<div class="container">
    
    
    <h5>Consulta de pacientes</h5>
    <div class="row-3">
        <div class="col-6 col-md-12 col-sm-6">
            <div class="card" >
                <div class="card-body" >
                    <div class="col-12 col-md-12"> <form [formGroup]="formPeriodo" (ngSubmit)="onSubmit()">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="">Descricao</label>
                                <input type="text" class="form-control" formControlName="descricao">
                                <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
                                    <span *ngIf="form.descricao.errors.required">
                                        Informe o a descricao do curso
                                    </span>
                                </div>
                            </div>
    
                            <div class="col-md-3">
                                <label for="">Data de Inicio</label>
                                <input type="date" class="form-control" formControlName="dataInicio">
                                <div class="text-danger" *ngIf="form.dataInicio.touched && form.dataInicio.invalid">
                                    <span *ngIf="form.dataInicio.errors.required">
                                        Informe a data de inicio
                                    </span>
                                </div>
                            </div>
    
                            <div class="col-md-3">
                                <label for="">Data de Termino</label>
                                <input type="date" class="form-control" formControlName="dataTermino">
                                <div class="text-danger" *ngIf="form.dataTermino.touched && form.dataTermino.invalid">
                                    <span *ngIf="form.dataTermino.errors.required">
                                        Informe a Data de Termino
                                    </span>
                                </div>
                               
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary" value="Enviar" style="margin-top: 23px">
                            </div>
                        
                                   
                            
                        </div>
                        </form>
                                <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th>Decrição do Produto</th>
                                                <th>Data de Inicio</th>
                                                <th>Data de Termino</th>
                                                <th>Quantidade</th>
                                                <th>Categorias</th>
                                                <th width="160">Operações</th>
                                            </tr>
                                        </thead>
                                        <div class="col-mb-6"></div>
                                        <tbody>
                                            <tr *ngFor="let c of curso">
                                                <td>{{c.descricao}}</td>
                                                <td>{{c.dataInicio | date: 'dd/MM/yyyy '}}</td>
                                                <td>{{c.dataTermino | date: 'dd/MM/yyyy '}}</td>
                                                <td>{{c.quantidade}}</td>
                                                <td>{{c.categoria.categoria}}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary"
                                                        [routerLink]="['/editar-curso', c.idCurso]">
                                                        Editar
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-sm btn-danger" (click)="excluir(c.idCurso)">
                                                        Excluir
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    Total de registros: {{curso.length}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div></div>
                   
                        </div>
                </div>
        </div>
       

        </div>


    </div>